footer {
    color: black;
    text-align: center;
    font-size: 20px;
    position: relative;
    height: 75px;
    padding-top: 5px;
    margin-top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    // background-color: #c5c5c5;
    width: 100%;

    span {
        font-size: 25px;
    }
}