.forgot-password-container {
    display: flex;
    flex-direction: column;
    width: 380px;

    h2 {
        margin: 10px 0;
    }

    #btn {
        margin-left: 100px;

    }
}

.code-breadcrumb {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: rgb(58, 53, 53);
    border-radius: 3px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    border: 1px #737575 solid;

    .digit-breadcrumb {
        font-size: 40px;
        border-radius: 5px;
        width: 12%;
        height: 10vh;
        outline: none;
        text-align: center;
    }
}